<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
           id="org.apache.cordova.extractzipfile"
      version="1.0.0">

    <name>ExtractZipFile</name>
    <description>Extract a zip file into a specific folder </description>
    <license>GPL</license>
    <keywords>cordova,zip</keywords>

    <!-- ios -->
    <platform name="ios">

        <js-module src="www/ZipPlugin.js" name="extractZipFile">
            <clobbers target="extractZipFile" />
        </js-module>


        <framework src="libz.dylib" />

        <header-file src="src/ios/SSZipArchive.h" />
    	<header-file src="src/ios/ExtractZipFilePlugin.h" />

    	<source-file src="src/ios/ExtractZipFilePlugin.m" />
    	<source-file src="src/ios/SSZipArchive.m" />



    </platform>



</plugin>
